.titulo { 
    color:red; 
    font:verdana; 
    size: 20px;
    text-align:center
}

 .buttonsecondary{
     color:black;
     font:arial;
     size:20%;
     background-color: gray
}

.buttonvertical{
    color:black;
    font: arial;
    font-size:18px;
    text-align: left;
}